<div class="task">
    <div class="task-wrap">

        <div class="task-title"> Какую задачу вам нужно решить?</div>
        <form action="" class="task-form">
            <div class="task-form-checkb">
                <div class="task-form-cont">
                    <input type="checkbox" value="1">
                    <label for="">Создание макета с нуля</label>

                </div>
                <div class="task-form-cont">
                    <input type="checkbox" value="1">
                    <label for="">Есть макет, требуется доработка</label>

                </div>
                <div class="task-form-cont">
                    <input type="checkbox" value="1">
                    <label for="">Разработка макета в лекалах</label>

                </div>


            </div>

            <div class="task-form-inp">
                <input type="text" value="Имя">
                <input type="tel" value="Телефон">
                <input type="submit" value="Отправить заявку">
            </div>
        </form>
    </div>
</div>