
<div class="t-content">
    <div class="t-content__text">
        Линейка парфюма, сумок и белья для роскошных и самодостаточных женщин
    </div>

    {% include '../t-bottom/t-bottom.twig' %}
</div>