<div class="t-mobile-top">
    <div class="t-mobile-top__logo">
        <img src="../img/footerlogo.svg" alt="">
    </div>
    <div class="t-mobile-top__lk">
        <img src="../img/account (1).svg" alt=""><span>ВОЙТИ В ПРОФИЛЬ</span>
    </div>
</div>
