
.t-mobile-top{
  display: grid;
  gap: 20px;
  padding: 20px 0;
  .t-mobile-top__logo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    justify-content: space-between;
    &:after{
      content: url("../img/крестик.svg");
      cursor: pointer;
    }
  }
  .t-mobile-top__lk{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    justify-content: start;
    span{
      font-family: Lato;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.5px;
      text-align: right;
      text-transform: uppercase;
      color: #9D2235;

    }
  }
}
