<div class="print">
    <div class="print-wrap">
        <div class="print__block print__bl-top">
            <div class="print-text">
               <p>Мы, компания «Mockuper», создаем принты для печати на ткани, и помогаем предпринимателям создавать модную,
                   стильную, функциональную одежду.</p>
              <p> К нам регулярно обращаются производители спортивной экипировки, мы сотрудничаем со швейными фабриками и
                  продавцами маркетплейсов.</p>
                <p>Мы можем разработать дизайн рисунка с нуля или развить вашу идею, опираясь на уже имеющиеся референсы.
                    Если у вас нет исходного файла, а есть только фотография принта или отрез ткани с рисунком, мы можем
                    воссоздать изображение в векторе, чтобы затем его можно было напечатать. Мы можем адаптировать макет,
                    созданный другим дизайнером, для раскладки на лекало. Если нужно, дорисуем недостающие фрагменты и
                    подготовим ваш принт к нанесению на одежду.</p>
               <span>Позвоните нам, и мы обсудим вашу задачу, чтобы вы получили новый принт и могли создать неповторимую модель
                   одежды!</span>


            </div>
            <div class="print-imgs">
                <img src="../img/image 30.svg" alt="" class="num1">
                <img src="../img/image 34.svg" alt="" class="num2">
                <img src="../img/image 32.svg" alt="" class="num3">

            </div>
        </div>
        <div class="print__block print__bl-bottom">
            <div class="print__block-bottom">
{#                <img src="../img/imagepr.png" alt="">#}
                <div class="print__block-count">
                    <div class="print__block-count__up"><span>></span>15 000</div>
                    <div>выполненных работ</div>
                </div>
                <div class="print__block-count">

                    <div class="print__block-count__up"><span>></span>700</div>
                    <div>довольных клиентов</div>
                </div>
                <div class="print__block-count">
                    <div class="print__block-count__up">70<span>%</span></div>
                    <div>заказов по рекомендации</div>
                </div>
            </div>
        </div>

    </div>
</div>