.t-menu-mobile{

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  .t-menu-mobile-wrap{
    @import "./t-mobile-top/t-mobile-top";


    @include container();
    .t-menu-mobile__menus{
      display: grid;
      justify-content: center;
      @include container();
      @import "./t-menu/t-menu";
      @import "./t-menu-catalog/t-menu-catalog";

    }



  }
  @import "./t-mobile-bottom/t-mobile-bottom";

}
