<div class="out-client">
    <div class="out-client-title">
        НАШИ КЛИЕНТЫ
    </div>
    <div class="out-client-wrap">

        <div class="out-client-slaider">
            <div class="swipergood">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="../img/logoslaider.svg" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="../img/logoslaider.svg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/logoslaider.svg" alt="">
                        </div>
                    <div class="swiper-slide">
                        <img src="../img/logoslaider.svg" alt="">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper2-button-next"><img src="../img/chevron-lefts.svg" alt=""></div>
                <div class="swiper2-button-prev"><img src="../img/chevron-rights.svg" alt=""></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>

</div>
