<div class="t-modal">
    <div class="t-modal-wrap">
        <div class="t-modal-close"></div>

        <div class="t-modal-form">
            <div class="t-modal__title">
                Подписывайтесь <br>и будьте в курсе последних <br>новостей
            </div>
            <div class="t-modal__input">
                <input type="email" placeholder="Отправить свой Email">
            </div>

            <div class="t-modal__submit">
                <span>ПОЛУЧИТЬ</span>
            </div>
            <div class="t-modal__agree">
                <div class="t-modal__checkbox">
                    <input type="checkbox" checked>
                </div>
                <div class="t-modal__text">
                    Я СОГЛАСЕН С <a href="">политикой обработки персональных данных</a>
                </div>
            </div>
        </div>

    </div>
</div>