<div class="t-footer">
    <div class="t-footer-wrap">
        <div class="t-footer-logo">
            <img src="./img/footerlogo.svg" alt="">
        </div>
        {% include './t-menu/t-menu.twig' %}
        {% include './t-fform/t-fform.twig' %}

    </div>
    <div class="t-footer__bottom">
        <div class="t-footer__bottom-cont">© 2024 THOUSUKA</div>
    </div>

</div>