<ul class="t-menu">
    <li><a href="">О НАС</a></li>
    <li><a href="">ГДЕ КУПИТЬ</a></li>
    <li><a href="">СОТРУДНИЧЕСТВО</a></li>
    <li><a href="">ДОСТАВКА И ОПЛАТА</a></li>
    <li><a href="">КАЧЕСТВО И ВОЗВРАТ</a></li>
</ul>