<div class="sheme">
    <div class="sub-title">Схема нашей работы</div>
    <div class="sheme-wrap">
            <div class="sheme__block">

                <div class="sheme__block-num">
                    1
                    <div class="sheme__block-img">
                        <img src="../img/sheme4.svg" alt="">

                    </div>
                </div>
                <div class="sheme__block-text">
                    Оставляете заявку на услугу
                </div>
            </div>
        <div class="sheme__block">

            <div class="sheme__block-num">
                2
                <div class="sheme__block-img">
                    <img src="../img/sheme4.svg" alt="">

                </div>
            </div>
            <div class="sheme__block-text">
                Оставляете заявку на услугу
            </div>
        </div>
        <div class="sheme__block">

            <div class="sheme__block-num">
                3
                <div class="sheme__block-img">
                    <img src="../img/sheme4.svg" alt="">

                </div>
            </div>
            <div class="sheme__block-text">
                Оставляете заявку на услугу
            </div>
        </div>
        <div class="sheme__block">

            <div class="sheme__block-num">
                4
                <div class="sheme__block-img">
                    <img src="../img/sheme4.svg" alt="">

                </div>
                <div class="sheme__block-text">
                    Оставляете заявку на услугу
                </div>
            </div>

        </div>
    </div>
</div>