.portfolio{
  @include container();
  @include padding-vertical-30();
    .portfolio-wrap{
        .portfolio-slaider{
          overflow:hidden;
          display: none;
          .swiper-pagination{
            display: flex;
            gap: 1rem;
            justify-content: center;
            padding: 20px 0;
            .swiper-pagination-bullet{
              background-color:grey;
              width:5px;
              height:5px;
              cursor:pointer;
              border-radius:5px;
            }
            .swiper-pagination-bullet-active {
              background-color:rgba(174, 41, 92, 0.8);
            }
            }
          .swiper-slide{
            display: flex;
            justify-content: center;
            position:relative;
            img{
              width: 100%;
              border-radius:0 0 50px 50px ;
            }
            .portfolio__block-title{
              position:absolute;
              padding:40px;
              margin-bottom:3px;
              bottom:2px;
              left:4px;
              text-align:center;
              width: calc(100% - 8px);
              background-color: rgba(174, 41, 92, 0.8);
              border-radius:0 0 50px 50px ;
              color:white;

            }
          }
        }
      .portfolio__blocks {
        display:flex;
        gap:1rem;
        flex-wrap:wrap;

        .portfolio__block{
          width:calc((100% / 3) - 1rem);
          position: relative;

          img{
            width:100%;
          }
          .portfolio__block-title{
            position:absolute;
            padding:40px;
            margin-bottom:5px;
            bottom:2px;
            left:4px;
            text-align:center;
            width: calc(100% - 8px);
            background-color: rgba(174, 41, 92, 0.8);
            border-radius:0 0 35px 35px ;
            color:white;

          }
        }
      }

    }
}

@media #{$mobile-only-two} {
  .portfolio {


    .portfolio-wrap {
      .portfolio-slaider {
        display: block;
      }
      .portfolio__blocks{
        display: none;

      }
    }
  }
}
