<div class="portfolio">
    <div class="sub-title">
        Портфолио наших работ
    </div>
    <div class="portfolio-wrap">
        <div class="portfolio-slaider">
                <div class="swiperportfolio">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>

                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/portimg.png" alt="">
                            <div class="portfolio__block-title">Название проекта</div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
{#                    <div class="swiper2-button-next"><img src="../img/chevron-lefts.svg" alt=""></div>#}
{#                    <div class="swiper2-button-prev"><img src="../img/chevron-rights.svg" alt=""></div>#}

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
        </div>
        <div class="portfolio__blocks">
            <div class="portfolio__block">
                <img src="../img/portimg.png" alt="">
                <div class="portfolio__block-title">Название проекта</div>
            </div>
            <div class="portfolio__block">
                <img src="../img/portimg.png" alt="">
                <div class="portfolio__block-title">Название проекта</div>
            </div>
            <div class="portfolio__block">
                <img src="../img/portimg.png" alt="">
                <div class="portfolio__block-title">Название проекта</div>
            </div>
            <div class="portfolio__block">
                <img src="../img/portimg.png" alt="">
                <div class="portfolio__block-title">Название проекта</div>
            </div>
            <div class="portfolio__block">
                <img src="../img/portimg.png" alt="">
                <div class="portfolio__block-title">Название проекта</div>
            </div>
            <div class="portfolio__block">
                <img src="../img/portimg.png" alt="">
                <div class="portfolio__block-title">Название проекта</div>
            </div>
        </div>

{#        <div class="portfolio__block">#}
{#            <img src="../img/portimg.png" alt="">#}
{#        </div>#}
{#        <div class="portfolio__block">#}
{#            <img src="../img/portimg.png" alt="">#}
{#        </div>#}
{#        <div class="portfolio__block">#}
{#            <img src="../img/portimg.png" alt="">#}
{#        </div>#}
{#        <div class="portfolio__block">#}
{#            <img src="../img/portimg.png" alt="">#}
{#        </div>#}
{#        <div class="portfolio__block">#}
{#            <img src="../img/portimg.png" alt="">#}
{#        </div>#}
    </div>
</div>
