<div class="offer">
    <div class="offer-wrap">
        <div class="sub-title">
            Что мы предлагаем?
        </div>
        <div class="offer__blocks">
            <div class="offer__block">
                <div class="offer__block-text">
                    <div class="offer__block-title">
                        Разработка дизайна  для спортивной экипировки
                    </div>
                    <div class="offer__block-subtitle">
                        Мы гордимся тем, что является одним из первых представителей в создании мерча на российском рынке и за время своей работы накопили огромный опыт. Наша цель - развивать бизнес в России,
                    </div>
                </div>
                <div class="offer__block-img">
                    <img src="../img/koft1.svg" alt="">
                </div>
                <a class="offer__block-href">
                    перейти <div><img src="../img/chevron-left 6.svg" alt=""></div>
                </a>
            </div>
            <div class="offer__block">
                <div class="offer__block-text">
                    <div class="offer__block-title">
                        Разработка дизайна  для спортивной экипировки
                    </div>
                    <div class="offer__block-subtitle">
                        Мы гордимся тем, что является одним из первых представителей в создании мерча на российском рынке и за время своей работы накопили огромный опыт. Наша цель - развивать бизнес в России,
                    </div>
                </div>
                <div class="offer__block-img">
                    <img src="../img/koft1.svg" alt="">
                </div>
                <a class="offer__block-href">
                    перейти <div><img src="../img/chevron-left 6.svg" alt=""></div>
                </a>
            </div>
            <div class="offer__block">
                <div class="offer__block-text">
                    <div class="offer__block-title">
                        Разработка дизайна  для спортивной экипировки
                    </div>
                    <div class="offer__block-subtitle">
                        Мы гордимся тем, что является одним из первых представителей в создании мерча на российском рынке и за время своей работы накопили огромный опыт. Наша цель - развивать бизнес в России,
                    </div>
                </div>
                <div class="offer__block-img">
                    <img src="../img/koft1.svg" alt="">
                </div>
                <a class="offer__block-href">
                    перейти <div><img src="../img/chevron-left 6.svg" alt=""></div>
                </a>
            </div>
            <div class="offer__block">
                <div class="offer__block-text">
                    <div class="offer__block-title">
                        Разработка дизайна  для спортивной экипировки
                    </div>
                    <div class="offer__block-subtitle">
                        Мы гордимся тем, что является одним из первых представителей в создании мерча на российском рынке и за время своей работы накопили огромный опыт. Наша цель - развивать бизнес в России,
                    </div>
                </div>
                <div class="offer__block-img">
                    <img src="../img/koft1.svg" alt="">
                </div>
                <a class="offer__block-href">
                    перейти <div><img src="../img/chevron-left 6.svg" alt=""></div>
                </a>
            </div>
        </div>
    </div>
</div>