<div class="t-catalog">
    <div class="t-catalog-wrap">
        <div class="t-title">
            <span>#</span>КАТАЛОГ
        </div>
        <div class="t-catalog__blocks">
            <div class="t-catalog__block">
                <img src="../img/Бельё.png" alt="">
            </div>
            <div class="t-catalog__block">
                <img src="../img/Парфюм.png" alt="">
            </div>
            <div class="t-catalog__block">
                <img src="../img/Сумки.png" alt="">
            </div>
        </div>
    </div>
</div>