<div class="form-dis">
    <div class="form-dis-wrap">
        <div class="form-dis-title">
            Оставьте свой телефон – получите дизайн, о котором мечтали!
        </div>
        <form action="">
            <input type="text" value="Имя">
            <input type="tel" value="Телефон">
            <input class="btn-pink" type="submit" value="Заказать звонок">
        </form>
    </div>
</div>