<div class="t-menu-mobile ">
    <div class="t-menu-mobile-wrap">


        {% include './t-mobile-top/t-mobile-top.twig' %}
        <div class="t-menu-mobile__menus">
            {% include './t-menu-catalog/t-menu-catalog.twig' %}
            {% include './t-menu/t-menu.twig' %}
        </div>




    </div>
    {% include './t-mobile-bottom/t-mobile-bottom.twig' %}
</div>