.t-logo-light{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;

  .t-register-logo{


  }
  .t-register-close{
    justify-content: end;
    &:after{
      content: url("../img/крестик.svg");
      cursor: pointer;
    }
  }
}