<div class="t-mobile-bottom">
    <div class="t-mobile-bottom-wrap">
        <div class="t-mobile-bottom__support">
            Служба поддержки <br>
             ежедневно: 09:00-21:00 (Мск)
            <br> 8 800 775 29 19
        </div>
        <div class="t-mobile-bottom__connect">
            НАПИСАТЬ НАМ
        </div>

{#        <div class="social-icons-wrap">#}
            <div class="social-icons-title">
                НАШИ ГРУППЫ В СОЦИАЛЬНЫХ СЕТЯХ
            </div>
            <div class="social-icons">
                <div class="social-icon">
                    <img src="../img/arcticons_pinterest.svg" alt="">
                </div>
                <div class="social-icon">
                    <img src="../img/ph_telegram-logo-thin.svg" alt="">
                </div>
                <div class="social-icon">
                    <img src="../img/ph_youtube-logo-thin.svg" alt="">
                </div>
            </div>
{#        </div>#}


    </div>
</div>
