.t-light-btn{
  height: 43px;
  background: #F0F0F0;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  div{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    &:after{
      content: url("../img/arrowlow.svg");
    }
  }
}
