<div class="t-favorites-good">
    <div class="t-favorites-wrap">
        {% include "./t-logo-light/t-logo-light.twig" %}
        {% include "./t-light-btn/t-light-btn.twig" %}

        <div class="t-favorites__coupon">
            <img src="../img/Cardsuper.svg" alt="">
        </div>
        {% include "./t-goods/t-goods.twig" %}


    </div>
</div>