<div class="t-fform">
    <div class="t-fform-wrap">
        <form class="t-form" action="">
            <div class="t-form-title">
                Подпишитесь на новости бренда, подборку модных образов и советы экспертов.
            </div>
            <div class="t-form-input">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="t-form-angree">
                Оформляя подписку вы соглашаетесь с <a href="">публичной офертой</a> и <a href="">политикой обработки персональных данных.</a>
            </div>
            {% include './t-form-btn/t-form-btn.twig' %}


        </form>
    </div>
</div>
