{% extends '../assets/layout/base.twig' %}

{% block top %}

{% endblock %}

{% block body %}

    {% set title = 'Главная - home' %}
    {% set meta_d = 'Описание' %}
    {% set theme_color = '#FFFFFF' %}
    {% set body_class = 'page' %}

    {#    <main>#}
    {#        <h1 class="visually-hidden">Заголовок</h1>#}

    {#        {% include '../components/banners/promo.twig' %}#}
    {#    </main>#}
{#    {% include '../components/header/header.twig' %}#}
{#    {% include '../components/portfolio/portfolio.twig' %}#}

{#    {% include '../components/mess/mess.twig' %}#}
{#    {% include '../components/tabprice/tabprice.twig' %}#}
{#    {% include '../components/services/services.twig' %}#}



{#    {% include '../components/prices/prices.twig' %}#}

{#    {% include '../components/news/news.twig' %}#}



{#    {% include '../components/message/message.twig' %}#}

{#    {% include '../components/masters/masters.twig' %}#}


{#    {% include '../components/aboutour/aboutour.twig' %}#}

{#    {% include '../components/whywe/whywe.twig' %}#}

{#    {% include '../components/footer/footer.twig' %}#}

    {#        {% include '../components/g-header/g-superheader.twig' %}#}



{% endblock %}

{% block script %}

{% endblock %}
