{% extends '../assets/layout/base.twig' %}

{% block top %}

{% endblock %}

{% block body %}

    {% set title = 'Главная - home' %}
    {% set meta_d = 'Описание' %}
    {% set theme_color = '#FFFFFF' %}
    {% set body_class = 'page' %}

{#    <main>#}
{#        <h1 class="visually-hidden">Заголовок</h1>#}

        {% include '../components/t-banner/t-banner.twig' %}
    {% include '../components/t-catalog/t-catalog.twig' %}
    {% include '../components/t-goods/t-goods.twig' %}
    {% include '../components/t-video/t-video.twig' %}
    {% include '../components/t-goods/t-goods-mini.twig' %}

        {% include '../components/t-footer/t-footer.twig' %}


    {#    {% include '../components/banner/banner.twig' %}#}
{#    {% include '../components/jurnal/jurnal.twig' %}#}

{#    {% include '../components/task/task.twig' %}#}

{#        {% include '../components/portfolio/portfolio.twig' %}#}


{#    {% include '../components/sheme/sheme.twig' %}#}
{#    {% include '../components/our-clients/our-client.twig' %}#}



{#    {% include '../components/print/print.twig' %}#}
{#    {% include '../components/formms/form-dis.twig' %}#}
{#    {% include '../components/offer/offer.twig' %}#}





{% endblock %}

{% block script %}

{% endblock %}
