<div class="item">
    <div class="item-wrap">
        <div class="item-slaider">
            <img src="../img/picturs of ware.svg" alt="">
        </div>
        <div class="item-name">
            Сумка через плечо с цепью, Medium
        </div>
        <div class="item-price">
            37 400 ₽
        </div>
        <div class="t-filters__block ">
            <span class="t-filters__block_watch">Цвет</span>
            <div class="t-filter-contents t-filter-contents-color">
                
                <div class="t-filter-content">
                    <input type="checkbox" name="allcategory1">
                    <span style="background-color: red"></span>
                    <label for="allcategory1">Черный</label>
                </div>
                <div class="t-filter-content">
                    <input type="checkbox" name="allcategory2">
                    <span style="background-color: blue"></span>
                    <label for="allcategory2">Красны</label>
                </div>

            </div>
        </div>
        <div class="item__buttons">
            <div class="item__button"><span>добавить в корзину</span></div>
            <div class="item__button"><img src="../img/likesss.svg" alt=""></div>
        </div>
        <div class="item__detail">
            <div class="item__detail-title">Детали</div>
            <div class="item__detail-article">
                Арт. №ЛЛ56551А
            </div>
            <div class="item__detail-text">
                Эта сумка бла бла бла бла. Тут должен быть текст. Тут
                должен быть текsgdh ст. Тут должен быть текст. Тут должен быть текст. Тут должен б gsth hsdg sыть текст. Тут должен быть
                текст.
            </div>
            <div class="item-options">
                <div class="item-option">
                    <div class="item-option__block">Материал:   </div>
                    <div class="item-option__block">Велюр   </div>
                </div>
                <div class="item-option">
                    <div class="item-option__block">Размер:       </div>
                    <div class="item-option__block">23*14*20 см   </div>
                </div>
            </div>
        </div>
    </div>
</div>