.t-banner{
  background: url("../img/back2.png");
  background-size: cover;
  height: 567px;
  .t-banner-wrap{
    @include container();
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-content: space-between;
    @import './t-header/t-header';
    @import './t-content/t-content';
  }



}
.t-body-overflow_hidden{
  overflow-y: hidden!important;
}