<div class="t-search">
    <div class="t-search-wrap">
        <div class="t-search__top">
            <input type="search" name="search">
            <label for="search">НАЙТИ</label>
        </div>
        <div class="t-search__selects">
            <div class="t-search__select">
                <span>сумка</span>
            </div>
            <div class="t-search__select">
                <span>парфюм</span>
            </div>
            <div class="t-search__select">
                <span>бельё</span>
            </div>
            <div class="t-search__select">
                <span>thousuka</span>
            </div>
            <div class="t-search__select">
                <span>магазины</span>
            </div>
        </div>
        <div class="t-favorites__often">
            Часто ищут:
        </div>
        <div class="t-favorites__example">
            сумка
        </div>
        <div class="t-favorites__example">
            парфюм
        </div>
        <div class="t-favorites__example">
            бельё
        </div>
    </div>
</div>