<div class="t-filters">
    <div class="t-filters-wrap">
        <div class="t-filters-title">
            Фильтры
        </div>
        <div class="t-filters__blocks">
            <div class="t-filters__block ">
                <span class="t-filters__block_watch">Категория</span>
                <div class="t-filter-contents">
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory" checked>
                        <label for="allcategory">Все товары</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory1">
                        <label for="allcategory1">Парфюм</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory2">
                        <label for="allcategory2">Сумки</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategor3">
                        <label for="allcategory3">Бельё</label>
                    </div>
                </div>
            </div>
            <div class="t-filters__block ">
                <span class="t-filters__block_watch">Цена</span>
                <div class="t-filter-contents">
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory" checked>
                        <label for="allcategory">Все товары</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory1">
                        <label for="allcategory1">Парфюм</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory2">
                        <label for="allcategory2">Сумки</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategor3">
                        <label for="allcategory3">Бельё</label>
                    </div>
                </div>

            </div>

            <div class="t-filters__block ">
                <span class="t-filters__block_watch">Цвет</span>
                <div class="t-filter-contents t-filter-contents-color">
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory" checked>
                        <span style="background-color: white;border: 1px solid black"></span>
                        <label for="allcategory">Все</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory1">
                        <span style="background-color: red"></span>
                        <label for="allcategory1">Черный</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory2">
                        <span style="background-color: blue"></span>
                        <label for="allcategory2">Красны</label>
                    </div>

                </div>
            </div>
            <div class="t-filters__block ">
                <span class="t-filters__block_watch">Наличие</span>
                <div class="t-filter-contents t-filter-contents-order">
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory" checked>
                        <label for="allcategory">Интернет магазин</label>
                    </div>
                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategory1">
                        <label for="allcategory1">Метрополис new Москва  <span>Войковская г. Москва, Ленинградское ш., д. 16А, </span></label>
                    </div>

                    <div class="t-filter-content">
                        <input type="checkbox" name="allcategor3">
                        <label for="allcategory3">ТЦ “Охотный ряд”  <span>Войковская г. Москва, Ленинградское ш., д. 16А, </span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="t-filters__buttoms">
            <div class="t-filters__buttom t-filters__buttom__clear">
                <span>сбросить</span>
            </div>
            <div class="t-filters__buttom t-filters__buttom__show">
                <span>показать модели</span>
            </div>
        </div>
    </div>
</div>