<div class="t-goods">
    <div class="t-goods-wrap">

        <div class="t-goods__top">
            <div class="t-title">
                <span>#</span> СКОРО В ПРОДАЖЕ <br><span></span>
            </div>
            <div class="t-text">
            </div>
        </div>
        <div class="t-goods__blocks">
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture (2).svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture (2).svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>