<div class="t-goods t-goods-filter">
    <div class="t-goods-title">
        МАГАЗИН
    </div>
    <div class="t-goods-t-filters">
        <div class="t-goods-t-filter">
            <span>Фильтры</span>
        </div>
        <div class="t-goods-t-filter">


{#            <img class="t-goods-t-filter__mini-red " src="../img/colonka1red.svg" alt="">#}

            <img class="t-goods-t-filter__mini colonka_hide" src="../img/colonka1.svg" alt="">
            <img class="t-goods-t-filter__big" src="../img/colonka2.svg" alt="">
{#            <img class="t-goods-t-filter__big-red colonka_hide" src="../img/colonka2red.svg" alt="">#}


        </div>
    </div>
    <div class="t-goods-wrap t-goods-colonka-gorizont">


        <div class="t-goods__blocks">
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture.svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture.svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture.svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture.svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>
            <div class="t-goods__block">

                <div class="t-goods-likes">
                    <img src="../img/likesss.svg" alt="">
                </div>
                <div class="t-goods-img">
                    <img src="../img/picture.svg" alt="">
                </div>
                <div class="t-goods-content">
                    <div class="t-goods-content__title">
                        Сумка через плечо с цепью Medium
                    </div>
                    <div class="t-goods-content__price">
                        35 900 ₽
                    </div>
                    <div class="t-goods-content__colors">
                        2 цвета
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>