.jurnal{
  overflow:hidden;
  background: rgba(44, 44, 44, 1);
  position: relative;
  padding-bottom:50px;

  .sub-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .sub-cont-button{

      .sub-href{
        width: 168px;
        height: 46px;

        padding: 13px 36px 13px 36px;
        gap: 46px;
        border-radius: 50px ;
        border: 1px solid rgba(255, 255, 255, 1);
        color:white;


      }
    }



  }
  .jurnal-wrap{
    @include container();
    @include padding-vertical-30();

    .jurnal__blocks{
      display: flex;
      gap: 2rem;
      .jurnal__block{
        width:33%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .jurnal__block-img{
          img{
            width:100%;
          }
        }
        .jurnal__block-title{
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          color: rgba(174, 41, 92, 1);
        }
        .jurnal__block-text{
          font-family: Montserrat Alternates;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          text-align: left;
          color:white;
        }
      }
    }

  }
}

@media #{$mobile-only-two} {
  .jurnal{

    .sub-cont{
      .sub-cont-button{
        position:absolute;
        bottom:10px;
        width: 100%;
        display: flex;
        justify-content: center;
        .sub-href{
          width: 168px;
          height: 46px;

          padding: 13px 36px 13px 36px;
          gap: 46px;
          border-radius: 50px ;
          border: 1px solid rgba(255, 255, 255, 1);
          color:white;


        }
      }
      .sub-href{

      }


    }
    .jurnal-wrap{


      .jurnal__blocks{
        flex-direction: column;
        gap: 1rem;
        .jurnal__block{
          width:100%;
          display: flex;
          gap: 1rem;
          flex-direction: column;
          .jurnal__block-img{
            img{
              width:100%;
            }
          }
          .jurnal__block-title{
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            text-align: center;

          }
          .jurnal__block-text{
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            text-align: center;

          }
        }
      }

    }
  }
}