<div class="jurnal">

    <div class="jurnal-wrap">
        <div class="sub-cont">
            <div class="sub-title">
                Журнал Mockuper
            </div>
            <div class="sub-cont-button">
                <a href="" class="sub-href">
                    Все статьи
                </a>
            </div>

        </div>

        <div class="jurnal__blocks">
            <div class="jurnal__block">
                <div class="jurnal__block-img">
                    <img src="../img/jurnal1.png" alt="">
                </div>
                <div class="jurnal__block-title">
                    Печать на тканях разных видов: какую ткань выбрать.
                </div>
                <div class="jurnal__block-text">
                    Чтобы рисунок, нанесенный на ткань, устойчиво держался на материале долгое время, важно правильно подобрать материал для конкретного метода печати.
                </div>
            </div>
            <div class="jurnal__block">
                <div class="jurnal__block-img">
                    <img src="../img/jurnal2.png" alt="">
                </div>
                <div class="jurnal__block-title">
                    Печать на тканях разных видов: какую ткань выбрать.
                </div>
                <div class="jurnal__block-text">
                    Чтобы рисунок, нанесенный на ткань, устойчиво держался на материале долгое время, важно правильно подобрать материал для конкретного метода печати.
                </div>
            </div>
            <div class="jurnal__block">
                <div class="jurnal__block-img">
                    <img src="../img/jurnal3.png" alt="">
                </div>
                <div class="jurnal__block-title">
                    Печать на тканях разных видов: какую ткань выбрать.
                </div>
                <div class="jurnal__block-text">
                    Чтобы рисунок, нанесенный на ткань, устойчиво держался на материале долгое время, важно правильно подобрать материал для конкретного метода печати.
                </div>
            </div>
        </div>

    </div>
</div>