<div class="t-favorites">
    <div class="t-favorites-wrap">
        {% include "./t-logo-light/t-logo-light.twig" %}
        {% include "./t-light-btn/t-light-btn.twig" %}

        <div class="t-favorites__save">
            Сохранить ваши избранные товары
        </div>
        <div class="t-favorites__text">
            <div>Хотите сохранить понравившиеся товары? Просто нажмите на значок в виде сердца на товаре, после чего этот товар появится здесь.</div>
        </div>
        <div class="t-favorites__href">
            <a href="">ПЕРЕЙТИ В КАТАЛОГ</a>
        </div>
        <div class="t-favorites__coupon">
            <img src="../img/Cardsuper.svg" alt="">
        </div>
    </div>
</div>