<div class="t-logo-light">
    <div class="t-register-logo">
        <img src="../img/footerlogo.svg" alt="">
    </div>
    <div class="t-register-close" data-register-close >

    </div>
</div>