<div class="t-form-profile-cont">
    <form class="t-form-profile"      action="">
        <div class="t-form-profile__title">
            Данные профиля
        </div>
        <input type="text" name="secondname" placeholder="Фамилия*" required>
        <input type="text" name="firstname" placeholder="Имя*" required>
        <input type="text" name="ottchestvo" placeholder="Отчество">
        <input type="tel" name="phone" placeholder="+7___-__-__-__">
        <input type="email" name="email" placeholder="Ваша эл. почта">
        <div class="send-btn-profile">
            <span>ПОДТВЕРДИТЬ</span>
        </div>
        <div class="t-form-profile__data">
            <label for="data-bithday">Дата рождения*</label>
            <input type="date" name="data-bithday">
        </div>

        <input type="submit" value="СОХРАНИТЬ И АКТИВИРОВАТЬ КАРТУ">
    </form>
</div>
