<div class="t-header">
    <div class="t-header-wrap">

        <div class="t-logo">
            <img src="../img/logo.svg" alt="">
        </div>
        <div class="t-icons">
            <div class="t-icon__search">
                <img src="../img/find.svg" alt="">
            </div>
            <div class="t-icon__like">
                <img src="../img/marketbacket.svg" alt="">
            </div>
            <div class="t-icon__lk">
                <img src="../img/account.svg" alt="">
            </div>
            <div class="t-icon__hamb">
                <img src="../img/hamburger.svg" alt="">
            </div>
        </div>
        {% include './t-menu-mobile/t-menu-mobile.twig' %}






    </div>
</div>