<div class="t-item-mini">
    <div class="t-item-mini-wrap">
        <div class="t-item-mini__block">
            <input type="checkbox">
        </div>
        <div class="t-item-mini__block t-item-mini__block-img">
            <img src="../img/picture.svg" alt="">
        </div>
        <div class="t-item-mini__block">
            <div class="t-item-mini__block-wrap">
                <div class="t-item-mini-article">
                    EN3645642-BLACK-TDRCF
                </div>
                <div class="t-item-mini-name">
                    Сумка клатч с цепью 3.5 дюйма
                </div>
            </div>
            <div class="t-item-mini__block-wrap">
                <div class="t-item-mini-count">
                    <label for="count">Количество</label>
                    <select name="count" id="count">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="t-item-mini__prices">
                    <div class="t-item-mini__price-full">
                        24 400 ₽
                    </div>
                    <div class="t-item-mini__price-discount">
                        32 100 ₽ <span></span>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>