<ul class="t-menu">
    <li><a href="">МАГАЗИНЫ</a></li>
    <li><a href="">НОВОСТИ</a></li>
    <li><a href="">КЛИЕНТАМ</a></li>
    <li><a href="">О НАС</a></li>
    <li><a href="">ВОЗВРАТ</a></li>
    <li><a href="">ДОСТАВКА И ОПЛАТА</a></li>
</ul>