<div class="banner">


    {% include './menu.twig' %}



    <div class="banner-wrap">
        <div class="banner-text">
            <h1 class="banner-title">Дизайн принтов для одежды</h1>
            <div class="banner-text-cont">
                <div class="banner-subtitle">
                    Спортивная экипировка, мокапы для маркетплейсов и многое другое!
                </div>
                <div class="banner-button">
                    <a href="">Все услуги</a>
                </div>
            </div>


        </div>
        <div class="banner-name-img">
            MOCKUPER
        </div>
        <div class="banner-img">
            <img src="../img/maika1.png" alt="">
        </div>

    </div>
    <div class="banner-buttom">
        <div class="banner-buttom-wrap">
            СТУДИЯ ДИЗАЙНА
        </div>

    </div>
</div>