{#<div class="header__top-item header-menu header-menu--long dotted-flex-1 hide-dotted dotted-complete no-shrinked">#}
{#    <nav class="mega-menu sliced">#}
{#        <div class="catalog_icons_">#}
{#            <div class="header-menu__wrapper">#}
{#                <div class="header-menu__item unvisible header-menu__item--first   active">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/">#}
{#												<span class="header-menu__title font_14">#}
{#							Главная						</span>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="header-menu__item unvisible   header-menu__item--dropdown">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/services/">#}
{#												<span class="header-menu__title font_14">#}
{#							Услуги						</span>#}
{#                        <i class="svg inline  header-menu__wide-submenu-right-arrow fill-dark-light-block banner-light-icon-fill" aria-hidden="true"><svg width="7" height="5"><use xlink:href="/bitrix/templates/aspro-lite/images/svg/arrows.svg#down-7-5"></use></svg></i>											</a>#}
{#                    <div class="header-menu__dropdown-menu dropdown-menu-wrapper dropdown-menu-wrapper--visible dropdown-menu-wrapper--woffset">#}
{#                        <div class="dropdown-menu-inner rounded-x ">#}




{#                            <ul class="header-menu__dropdown-menu-inner ">#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/services/adaptatsiya-maketov/">#}
{#                                        Адаптация макетов																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/services/dizayn-printov-dlya-odezhdy/">#}
{#                                        Дизайн принтов для одежды																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/services/otrisovka-printa-v-vektore/">#}
{#                                        Отрисовка принта в векторе																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/services/razrabotka-dizayna-sportivnoy-ekipirovki/">#}
{#                                        Разработка дизайна спортивной экипировки																									</a>#}
{#                                </li>#}
{#                            </ul>#}

{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="header-menu__item unvisible   header-menu__item--dropdown">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/company/">#}
{#												<span class="header-menu__title font_14">#}
{#							О нас						</span>#}
{#                        <i class="svg inline  header-menu__wide-submenu-right-arrow fill-dark-light-block banner-light-icon-fill" aria-hidden="true"><svg width="7" height="5"><use xlink:href="/bitrix/templates/aspro-lite/images/svg/arrows.svg#down-7-5"></use></svg></i>											</a>#}
{#                    <div class="header-menu__dropdown-menu dropdown-menu-wrapper dropdown-menu-wrapper--visible dropdown-menu-wrapper--woffset">#}
{#                        <div class="dropdown-menu-inner rounded-x ">#}




{#                            <ul class="header-menu__dropdown-menu-inner ">#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/company/index.php">#}
{#                                        О компании																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/company/licenses/">#}
{#                                        Лицензии																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/company/reviews/">#}
{#                                        Отзывы																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/company/docs/">#}
{#                                        Документы																									</a>#}
{#                                </li>#}
{#                            </ul>#}

{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="header-menu__item unvisible   ">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/brands/">#}
{#												<span class="header-menu__title font_14">#}
{#							Бренды						</span>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="header-menu__item unvisible   header-menu__item--dropdown">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/info/">#}
{#												<span class="header-menu__title font_14">#}
{#							Информация						</span>#}
{#                        <i class="svg inline  header-menu__wide-submenu-right-arrow fill-dark-light-block banner-light-icon-fill" aria-hidden="true"><svg width="7" height="5"><use xlink:href="/bitrix/templates/aspro-lite/images/svg/arrows.svg#down-7-5"></use></svg></i>											</a>#}
{#                    <div class="header-menu__dropdown-menu dropdown-menu-wrapper dropdown-menu-wrapper--visible dropdown-menu-wrapper--woffset">#}
{#                        <div class="dropdown-menu-inner rounded-x ">#}




{#                            <ul class="header-menu__dropdown-menu-inner ">#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/info/requisites/">#}
{#                                        Реквизиты																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item  count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/contacts/stores/">#}
{#                                        Магазины																									</a>#}
{#                                </li>#}
{#                                <li class="header-menu__dropdown-item header-menu__dropdown-item--with-dropdown count_ ">#}
{#                                    <a class="font_15 dropdown-menu-item dark_link fill-dark-light-block " href="/info/more/">#}
{#                                        Возможности																											<i class="svg inline  header-menu__dropdown-right-arrow fill-dark-light-block" aria-hidden="true"><svg width="7" height="5"><use xlink:href="/bitrix/templates/aspro-lite/images/svg/arrows.svg#down-7-5"></use></svg></i>																									</a>#}
{#                                    <div class="header-menu__dropdown-menu header-menu__dropdown-menu--submenu dropdown-menu-wrapper dropdown-menu-wrapper--visible dropdown-menu-wrapper--woffset">#}
{#                                        <ul class="dropdown-menu-inner rounded-x">#}
{#                                            <li class=" header-menu__dropdown-item  ">#}
{#                                                <a class="font_15 fill-dark-light-block dropdown-menu-item dark_link" href="/info/more/typograpy/">#}
{#                                                    Оформление																																			</a>#}
{#                                            </li>#}
{#                                            <li class=" header-menu__dropdown-item  ">#}
{#                                                <a class="font_15 fill-dark-light-block dropdown-menu-item dark_link" href="/info/more/buttons/">#}
{#                                                    Кнопки																																			</a>#}
{#                                            </li>#}
{#                                            <li class=" header-menu__dropdown-item  ">#}
{#                                                <a class="font_15 fill-dark-light-block dropdown-menu-item dark_link" href="/info/more/icons/">#}
{#                                                    Иконки																																			</a>#}
{#                                            </li>#}
{#                                            <li class=" header-menu__dropdown-item  ">#}
{#                                                <a class="font_15 fill-dark-light-block dropdown-menu-item dark_link" href="/info/more/elements/">#}
{#                                                    Элементы																																			</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </li>#}
{#                            </ul>#}

{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="header-menu__item unvisible   ">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/contacts/">#}
{#												<span class="header-menu__title font_14">#}
{#							Контакты						</span>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="header-menu__item unvisible  header-menu__item--last ">#}
{#                    <a class="header-menu__link header-menu__link--top-level light-opacity-hover fill-theme-hover banner-light-text dark_link  " href="/blog/">#}
{#												<span class="header-menu__title font_14">#}
{#							Блог						</span>#}
{#                    </a>#}
{#                </div>#}

{#                <div class="header-menu__item header-menu__item--more-items unvisible" style="display: none;">#}
{#                    <div class="header-menu__link banner-light-icon-fill fill-dark-light-block light-opacity-hover">#}
{#                        <i class="svg inline " aria-hidden="true"><svg width="15" height="3"><use xlink:href="/bitrix/templates/aspro-lite/images/svg/header_icons.svg#dots-15-3"></use></svg></i>				</div>#}
{#                    <div class="header-menu__dropdown-menu dropdown-menu-wrapper dropdown-menu-wrapper--visible dropdown-menu-wrapper--woffset">#}
{#                        <ul class="header-menu__more-items-list dropdown-menu-inner rounded-x"></ul>#}
{#                    </div>#}


{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <script data-skip-moving="true">#}
{#            if(typeof topMenuAction !== 'function'){#}
{#                function topMenuAction() {#}
{#                    //CheckTopMenuPadding();#}
{#                    //CheckTopMenuOncePadding();#}
{#                    if(typeof CheckTopMenuDotted !== 'function'){#}
{#                        let timerID = setInterval(function(){#}
{#                            if(typeof CheckTopMenuDotted === 'function'){#}
{#                                CheckTopMenuDotted();#}
{#                                clearInterval(timerID);#}
{#                            }#}
{#                        }, 100);#}
{#                    } else {#}
{#                        CheckTopMenuDotted();#}
{#                    }#}
{#                }#}
{#            }#}

{#        </script>#}
{#    </nav>#}
{#</div>#}
<div class="menu">
    <ul>
        <li>Главная</li>
        <li>Услуги</li>
        <li>О нас</li>
        <li>Информация</li>
        <li>Контакты</li>
    </ul>
</div>
