<div class="t-register">
    <div class="t-register-wrap">
        {% include "./t-logo-light/t-logo-light.twig" %}
        <div class="t-register-form">
            <form class="form-register" action="">

                <div class="form-register__title">
                    РЕГИСТРАЦИЯ ИЛИ ВХОД
                </div>
                <div class="form-selects">
                    <div class="form-select form-select-phone show_underline" data-select-number="form-select-phone" >По номеру телефона</div>
                    <div class="form-select form-select-email" data-select-email="form-select-email">По эл. почте</div>
                </div>

                <div class="form-register__input-tel ">
                    <input name="phone" type="tel" placeholder="89278112">
                    <label for="phone">Номер телефона в международном формате</label>
                </div>
                <div class="form-register__input-email hide_input_select">
                    <input type="email" placeholder="введите ваш емаил">
                    <label for="phone">Введите корректный Email</label>
                </div>

                <div class="form-register__input-code form-register__input-code_hide">
                    <input type="number" name="code" placeholder="- - - - -">
                    <label for="code">Введите код из СМС</label>
                    <div class="no-code">
                        Не приходит код? повторно можно отправить через 116 сек
                    </div>
                    <div class="no-code-href">
                        Не приходит код? <a href="">отправить повторно</a>
                    </div>
                </div>


                <div class="form-register__submit">
                    <div class="form-register-btn">
                        Отправить код
                    </div>
                </div>
                <div class="form-register__agree">
                    <input name="agree" type="checkbox" checked><div>Я СОГЛАСЕН С <a href="">ПУБЛИЧНОЙ ОФЕРТОЙ</a> И <a
                                href="">ПОЛИТИКОЙ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</a></div>
                </div>

            </form>
        </div>
    </div>
</div>