<div class="t-profile">
    <div class="t-profile-wrap">
            {% include "./t-logo-light/t-logo-light.twig" %}
        {% include "./t-light-btn/t-light-btn.twig" %}
        <div class="t-profile__card">
            <img src="../img/Card2.svg" alt="">
        </div>
        <div class="t-profile__text">
            Для активации Вашей карты осталось заполнить поля: Имя, Фамилия, Email, Дата рождения.
        </div>
        {% include "./t-form-profile/t-form-profile.twig" %}


    </div>
</div>